.pika-sider {

    background: #fff;

    .pika-menu {
        min-height: 100%;
    }

    .ant-layout-sider-trigger {
        background: #fff;
        color: rgba(0, 0, 0, 0.85);
        border-right: 1px solid rgba(240, 240, 240);
        border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
}