.pika-header {

    padding-right: 36px;
 
    .content {
        float: right;
    }

    .ant-btn:hover, .ant-btn:focus {
        color: white;
        border-color: white;
        background: transparent;
    }
}